<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/style.css">
</head>
<body>
    <div class="login hide-login">
        <form class="login-container hide-form" action="login" method="POST" autocapitalize="off">
           <img src="./views/user.png" alt="">
           <div class="input-container hide-section">
              <p><input type="email" placeholder="Email" name="email" /></p>
              <p><input type="password" placeholder="Password" name="password" /></p>
              <p><input type="submit" value="Login" /></p>
           </div>
        </form>
     </div>


     <script src="views/animated.js"></script>
     <script src="views/validate.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Email: <%= user.email %></p>
    <p>Password: <%= user.password %></p>
</body>
</html>
